<%= link_to post_likes_path(post), method: :post, remote: true do %>
  <i class="fas fa-heart mr-1" id="like-icon" style="cursor: pointer;"></i>
<% end %>
<span class="mr-2"><%= post.likes.count %></span>
<span style="cursor: pointer;">いいね</span>