<!-- app/views/groups/index.html.erb -->
<h1>グループ一覧</h1>
<%= link_to 'グループ作成', new_group_path, class: 'btn btn-primary' %>
<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, group_path(group) %>
      (メンバー: <%= group.users.count %>)
      <% if group.owner == current_user %>
        <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-secondary' %>
      <% end %>
    </li>
  <% end %>
</ul>
