
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">ようこそ Our Warm Town へ！</h1>
    <p class="lead">地域の人々がつながり、情報を共有するコミュニティサイトです。</p>
    <hr class="my-4">
    <p>地域のイベントやおすすめスポット、住民との交流を見つけましょう。</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">もっと詳しく</a>
  </div>
</div>
