<h3 class="display-6 my-4" style="font-family: 'Dancing Script', cursive; color: #5a5a5a;">投稿一覧</h3>
<div class="row">
  <% @posts.order(created_at: :desc).each_slice(4) do |post_group| %> 
    <% post_group.each do |post| %>
      <div class="col-sm-2"> 
        <div class="post p-3 border rounded content-box" style="width: 180px; height: 180px;"> 
          <h4 class="font-italic post-title">
            <%= link_to post.title, post, class: 'text-decoration-none' %>
          </h4>
          <p class="post-content"><%= truncate(post.content, length: 50) %></p> 
          <% if post.images.attached? %>
            <div class="row">
              <% post.images.each do |image| %>
                <div class="col-md-12 mb-2">
                  <%= image_tag image, class: 'img-fluid', style: 'max-height: 80px; max-width: 100%; object-fit: cover;', alt: '投稿画像' %> 
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<style>
  .content-box {
    background-color: #FFFAF0;
  }

  .post-title a {
    color: #5a5a5a; 
  }

  .post-title a:hover {
    color: #ff6347; 
  }

  .post-content {
    margin-bottom: 10px; 
  }
</style>
