/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "custom";

body {
  background-color: #FAF3E0;
}
.navbar {
  height: 100px;
  background-color: #DDFFFF;
}
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #DDFFFF;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 10px;
}
.nav-link-btn {
  background-color: #28a745;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
}
.nav-link-btn i {
  margin-right: 5px;
}
.nav-link-btn:hover {
  background-color: #218838;
  color: #fff;
}
.nav-link-btn.text-danger {
  color: #000 !important;
}
.main-visual {
  background-image: url('<%= asset_path("shopping_street07.png") %>');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 48px;
}
.info-box {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}
.pagination .page-link {
  color: #007bff;
}
.btn-custom {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s, color 0.3s;
}
.btn-custom i {
  margin-right: 5px;
}
.btn-custom:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}
.btn-fixed-width {
  width: 100px;
}
.content-box {
  background-color: #FFFAF0;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.footer {
  background-color: #FFC7AF;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.content {
  margin-bottom: 300px;
}
